\:root
    --color-main: #F28E13
    --color-gray: #7A8187
    --color-while: #f3f3fa
    --light-primary: #F5F9FC
    --light-secondary: #E4E9EC
    --light-gradient1: #E2E9EC
    --light-gradient2: #E5EAED
    --light-gradient3: #E7EBEE
    --light-text: #273940
    --dark-primary: #202D35
    --dark-secondary: #232D36
    --dark-gradient1: #202A33
    --dark-gradient2: #222F37
    --dark-gradient3: #25323B
    --dark-text: #F2F2F2

html
    box-sizing: border-box
    font: normal 400 16px/1.45 "Poppins", sans-serif

*, *::after, *::before
    margin: 0
    padding: 0
    box-sizing: inherit
    font: inherit

body
    --primary: var(--light-primary)
    --secondary: var(--light-secondary)
    --gradient1: var(--light-gradient1)
    --gradient2: var(--light-gradient2)
    --gradient3: var(--light-gradient3)
    --text-color: var(--light-text)

    color: var(--text-color)
    background-color: var(--secondary)

    &.dark-theme
        --primary: var(--dark-primary)
        --secondary: var(--dark-secondary)
        --gradient1: var(--dark-gradient1)
        --gradient2: var(--dark-gradient2)
        --gradient3: var(--dark-gradient3)
        --text-color: var(--dark-text)

ul
    list-style: none

textarea,
input[type="text"]
    border: none
    background: transparent
    outline: none
    text-align: right
    overflow-wrap: break-word

textarea
    resize: none

.btn
    -webkit-appearance: none
    border: none
    outline: none
    background: transparent
    color: inherit
    cursor: pointer

main
    width: 100vw
    height: 100vh

.calculator
    width: 100%
    max-width: 450px
    margin: 0 auto
    border-radius: 20px
    overflow: hidden
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0 0 1px hsla(0, 0%, 0%, 0.05),  0 0.3px 0.4px hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09)
    position: relative

    // [ ] This has to be fixed after the screen and the body
    &__history
        width: 100%
        position: absolute
        visibility: hidden

.screen
    padding: 30px 20px
    background-color: var(--secondary)
    background-image: linear-gradient(to top, var(--gradient1), var(--gradient2), var(--gradient3))

    &__header
        margin-bottom: 30px

    &__display
        width: 100%
        height: 240px
        position: relative
        overflow: hidden
        margin-bottom: 20px
        position: relative

    &__input
        width: 100%
        height: 50px
        display: block
        font-size: 18px
        font-weight: 600

    &__basic,
    &__unit
        top: 0
        left: 0
        width: 100%
        height: 100%
        position: absolute
        overflow: hidden

    &__basic
        // [ ] Fixed later
        opacity: 0

    &__group
        width: 100%
        height: 100%
        overflow: hidden

        &__item:not(:last-of-type)
            border-bottom: 1px solid var(--color-gray)

        &__input
            gap: 6px
            display: flex
            align-items: baseline

    &__footer
        flex-direction: row-reverse


.type
    gap: 10px

    &__group

    &__label
        width: 34px
        height: 34px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 6px
        color: var(--color-gray)
        border: 2px solid var(--color-gray)
        cursor: pointer
        transition: all .4s ease-in-out

        & svg
            width: 20px
            height: 20px
            color: currentColor

    &__input
        @extend .visually-hidden

    &__input:checked + &__label
        color: var(--color-while)
        background-color: var(--color-main)
        border-color: var(--color-main)

.theme
    &__label
        @extend .type__label
        border: none !important
        display: grid !important
        border-radius: 50%
        place-items: center
        line-height: 1

        &:hover
            background-color: var(--primary)

    &__icon
        grid-column: 1 / 1
        grid-row: 1 / 1
        display: flex
        justify-content: center
        align-items: center
        transition: transform .5s

        &--sun
            transition-delay: .2s

        &--moon
            transform: scale(0)

    &__input
        @extend .visually-hidden

    &__input:checked + &__icon--sun
        transform: rotate(360deg) scale(0)

    &__input:checked ~ &__icon--moon
        transition-delay: .2s
        transform: scale(1) rotate(360deg)

.keypad
    background-color: var(--primary)


// utility classes
.flex
    display: flex

    &--column
        flex-direction: column

    &--m-center
        justify-content: center

    &--m-between
        justify-content: space-between

    &--a-center
        align-items: center

.visually-hidden
    border: 0
    padding: 0
    margin: 0
    width: 1px
    height: 1px
    overflow: hidden
    position: absolute
    white-space: nowrap
    clip: rect(0 0 0 0)
    clip-path: inset(50%)