doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Calculator in Vanilla JavaScript

        // including favicons
        link(rel='apple-touch-icon', sizes='120x120', href='/favicon/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
        link(rel='manifest', href='/favicon/site.webmanifest')
        link(rel='mask-icon', href='/favicon/safari-pinned-tab.svg', color='#5bbad5')
        link(rel='shortcut icon', href='/favicon/favicon.ico')
        meta(name='msapplication-TileColor', content='#da532c')
        meta(name='msapplication-config', content='/favicon/browserconfig.xml')
        meta(name='theme-color', content='#ffffff')

        // including stylesheets
        link(rel="stylesheet", href="/css/main.css")

        // include google fonts
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Poppins:wght@300;400;600&display=swap", rel="stylesheet")

        // including feather icons
        script(src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.1/feather.min.js", defer)

        // including the main js file
        script(src="/js/main.js", defer)
    body
        main
            .calculator
                .history__container
                    ul.history__list
                        li.history
                            span.history__expression 78x23
                            span.history__result 1,794

                .screen__container
                    .screen__header
                        div
                            .calculator__type
                                label.calculator__simple(for="simple")
                                    input(type="radio", name="type", value="simple", id="simple")
                                    i(data-feather="grid")
                                label.calculator__simple(for="scientific")
                                    input(type="radio", name="type", value="scientific", id="scientific")
                                    i(data-feather="cpu")
                                label.calculator__simple(for="units", title="")
                                    input(type="radio", name="type", value="units", id="units")
                                    i(data-feather="sliders")

                            div
                                button(type="button")
                                    span #[i(data-feather="sun")]
                                    span #[i(data-feather="moon")]

                    .screen
                        .screen__basic
                            input.screen__input.screen__input--input(type="text", name="input", id="input")
                            input.screen__input.screen__input--result(type="text", name="result", id="result")
                        .screen__unit
                            .screen__group
                                .screen__group__item
                                    .select
                                        span.select__arrow #[i(data-feather="chevron-down")]
                                        span.select__placeholder Choose one

                                        ul.select__options
                                            li
                                                label
                                                    input(type="radio", name="option")
                                                    | Area
                                            li
                                                label
                                                    input(type="radio", name="option")
                                                    | Area
                                            li
                                                label
                                                    input(type="radio", name="option")
                                                    | Area
                                    input.screen__input(type="text", name="input", id="group1")
                                    label(for="group1")
                                .screen__group__item
                                    .select
                                        span.select__arrow #[i(data-feather="chevron-down")]
                                        span.select__placeholder Choose one

                                        ul.select__options
                                            li
                                                label
                                                    input(type="radio", name="option")
                                                    | Area
                                            li
                                                label
                                                    input(type="radio", name="option")
                                                    | Area
                                            li
                                                label
                                                    input(type="radio", name="option")
                                                    | Area
                                    input.screen__input(type="text", name="input", id="group2")
                                    label(for="group2")
                                .screen__group__item
                                    .select
                                        span.select__arrow #[i(data-feather="chevron-down")]
                                        span.select__placeholder Choose one

                                        ul.select__options
                                            li
                                                label
                                                    input(type="radio", name="option")
                                                    | Area
                                            li
                                                label
                                                    input(type="radio", name="option")
                                                    | Area
                                            li
                                                label
                                                    input(type="radio", name="option")
                                                    | Area
                                    input.screen__input(type="text", name="input", id="group3")
                                    label(for="group3")
                    .screen__footer
                        button.btn.btn__history(type="button")
                            i(data-feather="clock")
                        button.btn.btn__delete(type="button")
                            i(data-feather="delete")

                .keypad
                    .keypad__calculator
                        .keypad__simple
                            .keypad__container
                                button.btn.btn__clear.btn__operator(type="button") C
                                button.btn.btn__delete.btn__operator ()
                                button.btn.btn__percent.btn__operator(type="button") %
                                button.btn.btn__operator(type="button") /
                                button.btn(type="button") 7
                                button.btn(type="button") 8
                                button.btn(type="button") 9
                                button.btn.btn__operator(type="button") &#8727;
                                button.btn(type="button") 4
                                button.btn(type="button") 5
                                button.btn(type="button") 6
                                button.btn.btn__operator(type="button") -
                                button.btn(type="button") 1
                                button.btn(type="button") 2
                                button.btn(type="button") 3
                                button.btn.btn__operator(type="button") +
                                button.btn.btn__operator(type="button") &#177;
                                button.btn(type="button") 0
                                button.btn(type="button") .
                                button.btn.btn__equal(type="button") =
                        .keypad__scientific
                            .keypad__scientific--first
                                .keypad__container
                                    button.btn(type="button") &#x21cb;
                                    button.btn(type="button") Mod
                                    button.btn(type="button") x!
                                    button.btn(type="button") e
                                    button.btn(type="button") x#[sup 2]
                                    button.btn(type="button") x#[sup y]
                                    button.btn(type="button") &#8730;
                                    button.btn(type="button") #[sup y]&#8730;x
                                    button.btn(type="button") |x|
                                    button.btn(type="button") 2#[sup x]
                                    button.btn(type="button") 10#[sup x]
                                    button.btn(type="button") 1/x
                                    button.btn(type="button") &#8511;
                                    button.btn(type="button") log x
                                    button.btn(type="button") ln

                            .keypad__scientific--second
                                .keypad__container
                                    button.btn(type="button") &#x21cb;
                                    button.btn(type="button") Rad
                                    button.btn(type="button") hyp
                                    button.btn(type="button") sin
                                    button.btn(type="button") cos
                                    button.btn(type="button") tan
                                    button.btn(type="button") sin#[sup -1]
                                    button.btn(type="button") cos#[sup -1]
                                    button.btn(type="button") tan#[sup -1]
                                    button.btn(type="button") sec
                                    button.btn(type="button") csc
                                    button.btn(type="button") cot
                                    button.btn(type="button") sec#[sup -1]
                                    button.btn(type="button") csc#[sup -1]
                                    button.btn(type="button") cot#[sup -1]

                    .keypad__unit
                        .keypad__container
                            button.btn(type="button") 7
                            button.btn(type="button") 8
                            button.btn(type="button") 9
                            button.btn.btn__delete.btn__operator(type="button") #[i(data-feather="delete")]
                            button.btn(type="button") 4
                            button.btn(type="button") 5
                            button.btn(type="button") 6
                            button.btn.btn__operator.btn__clear(type="button") C
                            button.btn(type="button") 1
                            button.btn(type="button") 2
                            button.btn(type="button") 3
                            button.btn.btn__operator(type="button") &#8593;
                            button.btn.btn__operator.btn__disabled(type="button", disabled) &#177;
                            button.btn(type="button") 0
                            button.btn(type="button") .
                            button.btn.btn__operator(type="button") &#8595;