doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Calculator in Vanilla JavaScript

        // including favicons
        link(rel='apple-touch-icon', sizes='120x120', href='/favicon/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
        link(rel='manifest', href='/favicon/site.webmanifest')
        link(rel='mask-icon', href='/favicon/safari-pinned-tab.svg', color='#5bbad5')
        link(rel='shortcut icon', href='/favicon/favicon.ico')
        meta(name='msapplication-TileColor', content='#da532c')
        meta(name='msapplication-config', content='/favicon/browserconfig.xml')
        meta(name='theme-color', content='#ffffff')

        // including stylesheets
        link(rel="stylesheet", href="/css/main.css")

        // include google fonts
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600;700;900&display=swap', rel='stylesheet')

        // including feather icons
        script(src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.1/feather.min.js", defer)

        // including the main js file
        script(src="/js/main.js", defer)
    body.dark-theme
        main.flex.flex--m-center.flex--a-center
            .calculator#calculator
                .calculator__history.calculator__history--show#history
                    .history
                        .history__content
                            ul.history__list
                                li.history__item
                                    span.history__expression 123 #[span.operator /] 78 #[span.operator *] 23 #[span.operator +] log(26) #[span.operator *] 100
                                    span.history__result 1,794
                                li.history__item
                                    span.history__expression 123 #[span.operator /] 78 #[span.operator *] 23 #[span.operator +] log(26) #[span.operator *] 100
                                    span.history__result 1,794
                                li.history__item
                                    span.history__expression 123 #[span.operator /] 78 #[span.operator *] 23 #[span.operator +] log(26) #[span.operator *] 100
                                    span.history__result 1,794
                                li.history__item
                                    span.history__expression 123 #[span.operator /] 78 #[span.operator *] 23 #[span.operator +] log(26) #[span.operator *] 100
                                    span.history__result 1,794
                                li.history__item
                                    span.history__expression 123 #[span.operator /] 78 #[span.operator *] 23 #[span.operator +] log(26) #[span.operator *] 100
                                    span.history__result 1,794
                                li.history__item
                                    span.history__expression 123 #[span.operator /] 78 #[span.operator *] 23 #[span.operator +] log(26) #[span.operator *] 100
                                    span.history__result 1,794
                            .history__footer
                                button.btn.btn__clear(type="button", id="clear_history") clear history

                .flex.flex--column
                    .screen
                        .screen__header.flex.flex--m-between
                            .type.flex.flex--a-center
                                .type__group.flex.flex--a-center.flex--m-center
                                    input.type__input(type="radio", name="type", value="simple", id="simple", checked)
                                    label.type__label(for="simple", title="Simple")
                                        i(data-feather="grid")
                                .type__group.flex.flex--a-center.flex--m-center
                                    input.type__input(type="radio", name="type", value="scientific", id="scientific")
                                    label.type__label(for="scientific", title="Scientific")
                                        i(data-feather="cpu")
                                .type__group.flex.flex--a-center.flex--m-center
                                    input.type__input(type="radio", name="type", value="units", id="units")
                                    label.type__label(for="units", title="Units")
                                        i(data-feather="sliders")

                            button#theme-toggler.btn.theme__btn(type="button")
                                span.theme__icon.theme__icon--sun #[i(data-feather="sun")]
                                span.theme__icon.theme__icon--moon #[i(data-feather="moon")]

                        .screen__display
                            .screen__basic
                                label.screen__field
                                    textarea.screen__input.screen__input--input(name="input", id="growing-input", rows="1") something is in here

                                input.screen__input.screen__input--result(type="text", name="result", id="result", readonly, value="3647.89")

                            .screen__unit
                                .screen__group
                                    .screen__group__item
                                        .select.select--small
                                            span.select__placeholder Choose one
                                            input.select__input(type="text", name="", readonly, value="")
                                            span.select__arrow #[i(data-feather="chevron-down")]

                                            ul.select__options
                                                li.select__option Area option one
                                                li.select__option Area option two
                                                li.select__option Area option three

                                        .screen__group__input
                                            input.screen__input(type="text", name="input", id="group1")
                                            label.screen__label(for="group1") m#[sup 2]

                                    .screen__group__item
                                        .select.select--small
                                            span.select__placeholder Choose one
                                            input.select__input(type="text", name="", readonly, value="")
                                            span.select__arrow #[i(data-feather="chevron-down")]

                                            ul.select__options
                                                li.select__option Area option four
                                                li.select__option Area option five
                                                li.select__option Area option six

                                        .screen__group__input
                                            input.screen__input(type="text", name="input", id="group2")
                                            label.screen__label(for="group2") m#[sup 2]

                                    .screen__group__item
                                        .select.select--small
                                            span.select__placeholder Choose one
                                            input.select__input(type="text", name="", readonly, value="")
                                            span.select__arrow #[i(data-feather="chevron-down")]

                                            ul.select__options
                                                li.select__option Area option seven
                                                li.select__option Area option eight
                                                li.select__option Area option nine

                                        .screen__group__input
                                            input.screen__input(type="text", name="input", id="group3")
                                            label.screen__label(for="group3") m#[sup 2]

                        .screen__footer.flex.flex--m-between
                            button.btn.btn__delete(type="button")
                                i(data-feather="delete")
                            button.btn.btn__history.btn__disabled(type="button", id="show-history", disabled)
                                i(data-feather="clock")
                            button.btn.btn__clear.btn__clear--screen.btn__operator(type="button") C

                    .keypad
                        .keypad__calculator
                            .keypad__scientific#scientific_keypad
                                .keypad__scientific__first
                                    .keypad__container.keypad__container--scientific
                                        button.btn.btn__page.btn__keypad(type="button") &#x21cb;
                                        button.btn.btn__keypad(type="button") Mod
                                        button.btn.btn__keypad(type="button") x!
                                        button.btn.btn__keypad(type="button") e
                                        button.btn.btn__keypad(type="button") x#[sup 2]
                                        button.btn.btn__keypad(type="button") x#[sup y]
                                        button.btn.btn__keypad(type="button") &#8730;
                                        button.btn.btn__keypad(type="button") #[sup y]&#8730;x
                                        button.btn.btn__keypad(type="button") |x|
                                        button.btn.btn__keypad(type="button") 2#[sup x]
                                        button.btn.btn__keypad(type="button") 10#[sup x]
                                        button.btn.btn__keypad(type="button") 1/x
                                        button.btn.btn__keypad(type="button") &Pi;
                                        button.btn.btn__keypad(type="button") log
                                        button.btn.btn__keypad(type="button") ln

                                .keypad__scientific__second
                                    .keypad__container.keypad__container--scientific
                                        button.btn.btn__page.btn__keypad(type="button") &#x21cb;
                                        button.btn.btn__keypad(type="button") Rad
                                        button.btn.btn__keypad(type="button") hyp
                                        button.btn.btn__keypad(type="button") sin
                                        button.btn.btn__keypad(type="button") cos
                                        button.btn.btn__keypad(type="button") tan
                                        button.btn.btn__keypad(type="button") sin#[sup -1]
                                        button.btn.btn__keypad(type="button") cos#[sup -1]
                                        button.btn.btn__keypad(type="button") tan#[sup -1]
                                        button.btn.btn__keypad(type="button") sec
                                        button.btn.btn__keypad(type="button") csc
                                        button.btn.btn__keypad(type="button") cot
                                        button.btn.btn__keypad(type="button") sec#[sup -1]
                                        button.btn.btn__keypad(type="button") csc#[sup -1]
                                        button.btn.btn__keypad(type="button") cot#[sup -1]

                            .keypad__simple
                                .keypad__container
                                    button.btn.btn__keypad.btn__clear.btn__operator(type="button") C
                                    button.btn.btn__keypad.btn__operator ()
                                    button.btn.btn__keypad.btn__operator(type="button") %
                                    button.btn.btn__keypad.btn__operator(type="button") /
                                    button.btn.btn__keypad(type="button") 7
                                    button.btn.btn__keypad(type="button") 8
                                    button.btn.btn__keypad(type="button") 9
                                    button.btn.btn__keypad.btn__operator(type="button") &#8727;
                                    button.btn.btn__keypad(type="button") 4
                                    button.btn.btn__keypad(type="button") 5
                                    button.btn.btn__keypad(type="button") 6
                                    button.btn.btn__keypad.btn__operator(type="button") -
                                    button.btn.btn__keypad(type="button") 1
                                    button.btn.btn__keypad(type="button") 2
                                    button.btn.btn__keypad(type="button") 3
                                    button.btn.btn__keypad.btn__operator(type="button") +
                                    button.btn.btn__keypad.btn__operator(type="button") &#177;
                                    button.btn.btn__keypad(type="button") 0
                                    button.btn.btn__keypad(type="button") .
                                    button.btn.btn__equal(type="button") =

                        .keypad__unit
                            .select.select--unit
                                span.select__placeholder Choose one
                                input.select__input(type="text", name="", readonly, value="")
                                span.select__arrow #[i(data-feather="chevron-down")]

                                ul.select__options
                                    li.select__option Area
                                    li.select__option Volume
                                    li.select__option numbers
                                    li.select__option data
                                    li.select__option temperature
                                    li.select__option speed
                                    li.select__option Area
                                    li.select__option Volume
                                    li.select__option numbers
                                    li.select__option data
                                    li.select__option temperature
                                    li.select__option speed
                                    li.select__option Area
                                    li.select__option Volume
                                    li.select__option numbers
                                    li.select__option data
                                    li.select__option temperature
                                    li.select__option speed

                            .keypad__container.keypad__container--unit
                                button.btn.btn__keypad(type="button") 7
                                button.btn.btn__keypad(type="button") 8
                                button.btn.btn__keypad(type="button") 9
                                button.btn.btn__keypad(type="button") 4
                                button.btn.btn__keypad(type="button") 5
                                button.btn.btn__keypad(type="button") 6
                                button.btn.btn__keypad(type="button") 1
                                button.btn.btn__keypad(type="button") 2
                                button.btn.btn__keypad(type="button") 3
                                button.btn.btn__keypad.btn__operator.btn__disabled(type="button", disabled) &#177;
                                button.btn.btn__keypad(type="button") 0
                                button.btn.btn__keypad(type="button") .